.menu{
    background-color: #EEFFEE;
}

.menu hr{
    margin-left: -40px;
}

.menu ul{
    list-style: none;
    
}

.menu li{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    text-align: left;
font: normal normal 600 16px Segoe UI;
letter-spacing: 0px;
padding: 3.5px 20px;
/* padding-bottom: 3.5px; */
}

.menu a{
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.5s;
}

.menu a:active,
.menu a:hover{
    color: #FFB403;
}

@media (max-width:437px) {
    .menu li{
        font-size: 14px;
    }
}

@media (max-width:342px) {
    .menu li{
        font-size: 13px;
    }
}

@media (max-width:320px) {
    .menu li{
        font-size: 12px;
    }
}