.text{
    text-align: center;
    margin-top: 30px;
    text-align: center;
    font-family: Segoe UI;
    font-size: 25px;
    font-weight: 600;
}


.MobilePackages{
display: none;
}

@media(max-width:1189px) {
    .MobilePackages{
        display: grid;
        grid-template-columns: 500px 354px;
        justify-content: center;
        }
        .webPackages{
            display: none;
        }
        .mp3{
            margin-left: 250px;
            padding-bottom: 20px;
        }


}

@media(max-width:893px){
    .MobilePackages{
        grid-template-columns: 400px 354px;
        }
        .mp3{
            margin-left: 200px;
        }
}


@media(max-width:800px){
    .MobilePackages{
        grid-template-columns: 350px;
        }
        .mp3{
            margin-left: 0px;
        }
}

@media(max-width:389px){
    .MobilePackages{
        grid-template-columns: 280px;
        }
}


@media(max-width:800px){
    .text{
        font-size: 20px;
    }
}

@media(max-width:389px){
    .text{
        font-size: 18px;
    }
}

