.container{
    height:410px;
    width:560px;
    border:3px solid #FFB403;
    margin: auto;
    /* margin-bottom: 30px; */
    margin-top: 100px;
    box-shadow: inset 2px 2px 2px #00000029, 0px 2px 2px #FFB300;
    border-radius: 10px;
}

.invisible{
    display: none;
    margin: auto;
}

.login{
   text-align: center;
   color: #FFB300;
   font-weight: 500;
   margin-top: 30px;
   margin-bottom: 30px;
}

.emailicon{
    margin: 0px;
    margin-left: 73px;
    color: #FFC43B;
    position: relative;
    top: 28px;
}

.signUp{
    text-align: center;
}

.forgetPassword{
    text-align: right;
    color: #FFC43B;
    margin-right: 75px;
}

.button{
    display: block;
    margin: auto;
}

.input{
    border-bottom: 3px solid #FFB300;
    border-top:none;
    border-left: none;
    margin-bottom: 3px;
    border-right: none;
    outline: none;
    font-size: 20px;
    padding-bottom: 9px;
    display: block;
    margin: auto;
    width: 72%;
    padding-left: 35px;
}

.emailP{
    margin: 0px;
    margin-left: 73px;
    margin-top: 10px;
    font-weight: 500;
    color: #FFC43B;
    margin-bottom: -11px;
}

.button{
    width: 75%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: inset 0px 1px 4px #00000029;
    background: #FFB300;
    outline:none;
    border: 2px solid #FFB300;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.signUp{
    color: #FFB300;
    font-weight: 600;
}

@media(max-width:724px){
    .container{
        height:410px;
        width:480px;
    }

    .button{
        width: 68%;
    }

    .input{
        width: 68%;
    }

    .login{
        margin-top: 30px;
        margin-bottom: 30px;
     }
}

@media(max-width:572px){
    .validationError{
        font-size: 17px;
        margin-left: 33px;
    }
    .container{
        height:410px;
        width:400px;
    }
    .button{
        width: 83%;
    }

    .forgetPassword{
        text-align: right;
        color: #FFC43B;
        margin-right: 30px;
    }

    .login{
        margin-top: 10px;
        margin-bottom: 30px;
     }
     .emailP{
        margin-left: 30px;
    }
    .emailicon{
        margin-left: 30px;
    }
    .input{
        width: 83%;
    }
   
    
}

@media(max-width:458px){
    .validationError{
        font-size: 15px;
    }
    .container{
        height:410px;
        width:80vw;
    }
    .login{
       font-size: 20px;
       margin-bottom: 10px;
     }
     .emailP{
         font-size: 15px;
     }
     .forgetPassword{
         font-size: 14px;
     }

}
@media(max-width:353px){
    .validationError{
        font-size: 15px;
    }
    .container{
        height:310px;
        width:80vw;
    }
    .login{
       font-size: 15px;
       margin-bottom: 10px;
     }
     .emailP{
         font-size: 12px;
     }
     .forgetPassword{
        font-size: 11px;
    }

}
