.menu{
    background-color: #eeffee;
}

.menu hr{
    margin-left: -80px;
}

.menu ul{
    list-style: none;
}

.menu li{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
font: normal normal 500 16px Segoe UI;
letter-spacing: 0px;
padding-bottom: 5px;
padding-left: 0;
padding-right: -20px;
}

.menu a{
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.5s;
}

.menu a:active,
.menu a:hover{
    color: #FFB403;
}

@media (max-width:437px) {
    .menu li{
        font-size: 14px;
        margin-left: -20px;
    }
}

@media (max-width:342px) {
    .menu li{
        font-size: 13px;
    }
}

@media (max-width:320px) {
    .menu li{
        font-size: 12px;
    }
}