.icon{
    transform: rotate(90deg);
    align-self: center;
    color: #FFFFFF;
}

.ptext2{
    animation: slide-down 300ms ease-out forwards;
}

.icondiv{
    text-align: center;
    padding-bottom: 5px;
}

.container{
    background-color:#FFB403;
    width: 1200px;
    margin: auto;
    box-shadow: 0px 3px 6px #00000029;
}

.ptext{
    font-size: 22px;
    padding-top: 22px;
    padding-left: 8px;
    padding-right: 8px;
}

.ptext2{
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
}

.containerP{
    text-align: center;
    font-family:Segoe UI;
    color: #FFFFFF;
    margin: 0;
    margin-top:22px;
}


@media(max-width:1251px){

    .container{
        width: 1000px;
    }

}

@media(max-width:1047px){

    .container{
        width: 800px;
    }

}

@media(max-width: 853px){

    .container{
        width: 600px;
    }

}

@media(max-width: 632px){

    .container{
        width: 400px;
    }

    .ptext{
        font-size: 18px;
    }

    .ptext2{
        font-size: 12px;
    }

}

@media(max-width:437px){
    .ptext{
        font-size: 18px;
    }

    .ptext2{
        font-size: 12px;
    }

    .container{
        width: 300px;
    }

}

@media(max-width:331px){
    .ptext{
        font-size: 16px;
    }

    .ptext2{
        font-size: 10px;
    }

    
    .container{
        width: 255px;
    }
}


@keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
